In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
data = pd.read_csv('D:/20211/KHDL/KHDL_IT4930/data/data.csv', sep='\t', index_col=0)
data

,kieu_dang,hop_so,km_da_di,nhien_lieu,so_cho_ngoi,tinh_trang,xuat_xu,nam_sx,gia,dong_xe,hang
0,Sedan,Tự động,9000,Xăng,5,Đã sử dụng,Lắp ráp trong nước,2019,4480000000,Sclass,Mercedes Benz
1,Sedan,Tự động,20000,Xăng,5,Đã sử dụng,Lắp ráp trong nước,2017,1155000000,Cclass,Mercedes Benz
2,SUV / Cross over,Tự động,0,Xăng,5,Mới,Lắp ráp trong nước,2021,579000000,Kona,Hyundai
3,SUV / Cross over,Tự động,0,Xăng,5,Mới,Lắp ráp trong nước,2021,825000000,Tucson,Hyundai
4,Sedan,Tự động,32000,Xăng,4,Đã sử dụng,Nhập khẩu,2017,5750000000,Panamera,Porsche
...,...,...,...,...,...,...,...,...,...,...,...
54991,Van/Minivan,Số sàn,80000,Xăng,8,Đã sử dụng,Lắp ráp trong nước,2019,565000000,Innova,Toyota
54992,Sedan,Tự động,38000,Xăng,5,Đã sử dụng,Lắp ráp trong nước,2018,563000000,3,Mazda
54993,Hatchback,Tự động,70000,Xăng,5,Đã sử dụng,Lắp ráp trong nước,2009,185000000,Morning,Kia
54994,Sedan,Số sàn,2555,Xăng,5,Đã sử dụng,Nhập khẩu,1999,42500000,Matiz,Daewoo
54995,Sedan,Tự động,80000,Xăng,4,Đã sử dụng,Nhập khẩu,2009,280000000,3,Mazda

In [3]:
train = pd.read_csv('D:/20211/KHDL/KHDL_IT4930/data/train.csv', sep='\t', index_col=0)
val = pd.read_csv('D:/20211/KHDL/KHDL_IT4930/data/val.csv', sep='\t', index_col=0)
test = pd.read_csv('D:/20211/KHDL/KHDL_IT4930/data/test.csv', sep='\t', index_col=0)

In [4]:
train_dataset = data.loc[train.index]
val_dataset = data.loc[val.index]
test_dataset = data.loc[test.index]

In [8]:
train_dataset.to_csv('train.csv', sep='\t', encoding='utf-8')
val_dataset.to_csv('val.csv', sep='\t', encoding='utf-8')
test_dataset.to_csv('test.csv', sep='\t', encoding='utf-8')

In [3]:
data_encoded = pd.get_dummies(data, columns=['tinh_trang', 'hang', 'dong_xe', 'xuat_xu', 'kieu_dang', 'nhien_lieu', 'hop_so'])
data_encoded

,km_da_di,so_cho_ngoi,nam_sx,gia,tinh_trang_Mới,tinh_trang_Đã sử dụng,hang_Acura,hang_Alfa Romeo,hang_Asia,hang_Audi,...,kieu_dang_Van/Minivan,kieu_dang_Wagon,nhien_lieu_Dầu,nhien_lieu_Hybrid,nhien_lieu_Xăng,nhien_lieu_Điện,hop_so_Bán tự động,hop_so_Số sàn,hop_so_Số tay,hop_so_Tự động
0,9000,5,2019,4480000000,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,20000,5,2017,1155000000,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,0,5,2021,579000000,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,0,5,2021,825000000,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,32000,4,2017,5750000000,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54991,80000,8,2019,565000000,0,1,0,0,0,0,...,1,0,0,0,1,0,0,1,0,0
54992,38000,5,2018,563000000,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
54993,70000,5,2009,185000000,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
54994,2555,5,1999,42500000,0,1,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
54995,80000,4,2009,280000000,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1

In [4]:
stats = data_encoded.describe()
stats = stats.transpose()
stats

,count,mean,std,min,25%,50%,75%,max
km_da_di,53689.0,1.243417e+05,2.187135e+06,0.0,8600.0,50000.0,100000.0,3.000000e+08
so_cho_ngoi,53689.0,5.580324e+00,1.645129e+00,2.0,5.0,5.0,7.0,1.600000e+01
nam_sx,53689.0,2.015300e+03,5.759312e+00,1980.0,2012.0,2017.0,2020.0,2.021000e+03
gia,53689.0,8.787909e+08,1.724467e+09,11000000.0,305000000.0,510000000.0,820000000.0,6.800000e+10
tinh_trang_Mới,53689.0,1.760137e-01,3.808354e-01,0.0,0.0,0.0,0.0,1.000000e+00
...,...,...,...,...,...,...,...,...
nhien_lieu_Điện,53689.0,6.146510e-04,2.478477e-02,0.0,0.0,0.0,0.0,1.000000e+00
hop_so_Bán tự động,53689.0,2.905623e-03,5.382596e-02,0.0,0.0,0.0,0.0,1.000000e+00
hop_so_Số sàn,53689.0,1.200618e-01,3.250369e-01,0.0,0.0,0.0,0.0,1.000000e+00
hop_so_Số tay,53689.0,1.990352e-01,3.992783e-01,0.0,0.0,0.0,0.0,1.000000e+00
hop_so_Tự động,53689.0,6.779974e-01,4.672483e-01,0.0,0.0,1.0,1.0,1.000000e+00

In [5]:
from sklearn import preprocessing
norm = preprocessing.StandardScaler()

data_encoded[data_encoded.columns] = norm.fit_transform(data_encoded)
data_encoded

,km_da_di,so_cho_ngoi,nam_sx,gia,tinh_trang_Mới,tinh_trang_Đã sử dụng,hang_Acura,hang_Alfa Romeo,hang_Asia,hang_Audi,...,kieu_dang_Van/Minivan,kieu_dang_Wagon,nhien_lieu_Dầu,nhien_lieu_Hybrid,nhien_lieu_Xăng,nhien_lieu_Điện,hop_so_Bán tự động,hop_so_Số sàn,hop_so_Số tay,hop_so_Tự động
0,-0.052737,-0.352756,0.642420,2.088323,-0.462182,0.462182,-0.018815,-0.006104,-0.006104,-0.077919,...,-0.282075,-0.014952,-0.446879,-0.06326,0.454267,-0.0248,-0.053982,-0.369383,-0.498492,0.689153
1,-0.047707,-0.352756,0.295153,0.160172,-0.462182,0.462182,-0.018815,-0.006104,-0.006104,-0.077919,...,-0.282075,-0.014952,-0.446879,-0.06326,0.454267,-0.0248,-0.053982,-0.369383,-0.498492,0.689153
2,-0.056852,-0.352756,0.989687,-0.173847,2.163649,-2.163649,-0.018815,-0.006104,-0.006104,-0.077919,...,-0.282075,-0.014952,-0.446879,-0.06326,0.454267,-0.0248,-0.053982,-0.369383,-0.498492,0.689153
3,-0.056852,-0.352756,0.989687,-0.031193,2.163649,-2.163649,-0.018815,-0.006104,-0.006104,-0.077919,...,-0.282075,-0.014952,-0.446879,-0.06326,0.454267,-0.0248,-0.053982,-0.369383,-0.498492,0.689153
4,-0.042221,-0.960617,0.295153,2.824789,-0.462182,0.462182,-0.018815,-0.006104,-0.006104,-0.077919,...,-0.282075,-0.014952,-0.446879,-0.06326,0.454267,-0.0248,-0.053982,-0.369383,-0.498492,0.689153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54991,-0.020274,1.470826,0.642420,-0.181966,-0.462182,0.462182,-0.018815,-0.006104,-0.006104,-0.077919,...,3.545153,-0.014952,-0.446879,-0.06326,0.454267,-0.0248,-0.053982,2.707220,-0.498492,-1.451056
54992,-0.039477,-0.352756,0.468787,-0.183126,-0.462182,0.462182,-0.018815,-0.006104,-0.006104,-0.077919,...,-0.282075,-0.014952,-0.446879,-0.06326,0.454267,-0.0248,-0.053982,-0.369383,-0.498492,0.689153
54993,-0.024846,-0.352756,-1.093914,-0.402326,-0.462182,0.462182,-0.018815,-0.006104,-0.006104,-0.077919,...,-0.282075,-0.014952,-0.446879,-0.06326,0.454267,-0.0248,-0.053982,-0.369383,-0.498492,0.689153
54994,-0.055684,-0.352756,-2.830249,-0.484961,-0.462182,0.462182,-0.018815,-0.006104,-0.006104,-0.077919,...,-0.282075,-0.014952,-0.446879,-0.06326,0.454267,-0.0248,-0.053982,2.707220,-0.498492,-1.451056
54995,-0.020274,-0.960617,-1.093914,-0.347236,-0.462182,0.462182,-0.018815,-0.006104,-0.006104,-0.077919,...,-0.282075,-0.014952,-0.446879,-0.06326,0.454267,-0.0248,-0.053982,-0.369383,-0.498492,0.689153

# Split train and test

In [6]:
train_val_dataset = data_encoded.sample(frac=0.8,random_state=0)
test_dataset = data_encoded.drop(train_val_dataset.index)
val_dataset = train_val_dataset.sample(frac=0.068, random_state=0)
train_dataset = train_val_dataset.drop(val_dataset.index)

train_labels = train_dataset.pop('gia')
val_lables = val_dataset.pop('gia')
test_labels = test_dataset.pop('gia')

In [9]:
train_dataset.to_csv('train.csv', sep='\t', encoding='utf-8')
val_dataset.to_csv('val.csv', sep='\t', encoding='utf-8')
test_dataset.to_csv('test.csv', sep='\t', encoding='utf-8')

In [10]:
train_dataset = train_dataset.values
train_labels = train_labels.values

val_dataset = val_dataset.values
val_lables = val_lables.values

test_dataset = test_dataset.values
test_labels = test_labels.values

# Model

In [11]:
import torch
import torch.nn as nn

In [12]:
class Model(nn.Module):
    def __init__(self, input_dim = 735, layer_dim_1 = 64, layer_dim_2 = 32, output_dim = 1, p = 0.1):
        super(Model, self).__init__()
        self.layer_dim_1 = layer_dim_1
        self.input_dim = input_dim
        self.layer_dim_2 = layer_dim_2
        self.output_dim = output_dim
        
        self.hidden_layer_1 = nn.Sequential(
            nn.Linear(input_dim, layer_dim_1),
            nn.ReLU(),
        )

        self.hidden_layer_2 = nn.Sequential(
            nn.Linear(layer_dim_1, layer_dim_2),
            nn.ReLU(),
        )
        self.dropout = nn.Dropout(p=p)
        self.output = nn.Linear(layer_dim_2 , output_dim)

    def forward(self, input):
        # input : batch_size, input_dim
        hidden_1 = self.hidden_layer_1(input)
        hidden_1 = self.dropout(hidden_1)

        hidden_2 = self.hidden_layer_2(hidden_1)
        hidden_2 = self.dropout(hidden_2)

        output = self.output(hidden_2)
        return output

In [13]:
class MyDataset(torch.utils.data.Dataset):
    def __init__(self, data, label):
        self.data = data
        self.label = label

    def __getitem__(self, index):
        return {
            'data': self.data[index],
            'label' : self.label[index]
        }
    def __len__(self):
        return len(self.label)

train = MyDataset(data = train_dataset, label=train_labels)
valid = MyDataset(data = val_dataset, label=val_lables)
test = MyDataset(data = test_dataset, label=test_labels)

In [14]:
def dataset_batch_iter(dataset, batch_size):
    batch_data = []
    batch_label = []
    for data in dataset:
        batch_data.append(data['data'])
        batch_label.append(data['label'])

        if len(batch_label) == batch_size:
            yield {
                'data' : np.array(batch_data, dtype='float32'),
                'label' : np.array(batch_label)
            }
            batch_label = []
            batch_data = []

In [15]:
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')
model = Model()
model.to(device=device)
mse_loss = nn.MSELoss(reduce='sum')
optimizer = torch.optim.Adam(model.parameters(), lr = 0.001)

C:\Users\Admin\AppData\Local\Programs\Python\Python39\lib\site-packages\torch\nn\_reduction.py:42: UserWarning: size_average and reduce args will be deprecated, please use reduction='mean' instead.
  warnings.warn(warning.format(ret))

In [18]:
def validation(valid_dataset):
    model.eval()
    total_loss = 0
    for batch in tqdm(dataset_batch_iter(valid_dataset, batch_size=16), leave=False):
        input_tensor = torch.Tensor(batch['data']).type(torch.FloatTensor).to(device)
        target_tensor = torch.Tensor(batch['label']).type(torch.FloatTensor).to(device)
        
        pred = model(input_tensor).squeeze()
        optimizer.zero_grad()
        loss = mse_loss(pred, target_tensor)

        total_loss += loss.item()
    return total_loss

In [19]:
for epoch in range(100):
    model.train()
    epoch_loss = 0
    for batch in tqdm(dataset_batch_iter(train, 16), leave=False):
        input_tensor = torch.Tensor(batch['data']).type(torch.FloatTensor).to(device)
        target_tensor = torch.Tensor(batch['label']).type(torch.FloatTensor).to(device)

        pred = model(input_tensor).squeeze()
        optimizer.zero_grad()
        loss = mse_loss(pred, target_tensor)
        loss.backward()
        optimizer.step()

        epoch_loss += loss.item()

    print("Epoch {} with MSE loss : {} \n".format(epoch, epoch_loss))
    valid_loss = validation(valid_dataset=valid)
    print('Valid loss : {}\n'.format(valid_loss))
    path = 'D:/20211/KHDL/KHDL_IT4930/checkpoints/ann.pt'
    torch.save(
        {
            'model' : model.state_dict(),
            'optim' : optimizer.state_dict()
        }, path
    )

Epoch 0 with MSE loss : 348.8925920869224

Valid loss : 17.457602085953113

Epoch 1 with MSE loss : 300.97021538967965

Valid loss : 20.33996318373829

Epoch 2 with MSE loss : 272.0421312500839

Valid loss : 19.35111082738149

Epoch 3 with MSE loss : 250.38933179533342

Valid loss : 17.42089270980796

Epoch 4 with MSE loss : 211.95348382019438

Valid loss : 23.87527080439031

1212it [00:03, 341.88it/s]