In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import unidecode
import seaborn as sns
import scipy as sp

In [2]:
chotot_df = pd.read_csv("chotot.csv")

from copy import deepcopy
chotot_df.hang = chotot_df.hang.replace(["Vinfast"], "VinFast")
all_hang = deepcopy(chotot_df.hang.unique())
all_hang = np.append(all_hang,['Thaco','McLaren','Cuu Long','Dongfeng','Dongben','Lamborghini','Vinaxuki','TMT',"Hoa Mai","Fuso","Proton","Chien Thang","Do Thanh","Giai Phong","Hino","Howo","JAC","Jinbei","JRD","Kenbo","Samco","Teraco","Komatsu","Veam","Thanh Cong","Truong Giang"])

all_dong_xe = chotot_df.dong_xe.unique()
# Giá
chotot_gia = []
import math
for value in chotot_df.gia:
    chotot_gia.append(int(value.replace(".","").replace("đ","0")))
chotot_df['gia'] = chotot_gia
chotot_df[chotot_df['gia'] == 0]

# Kiểu dáng
chotot_df.kieu_dang = chotot_df.kieu_dang.replace(["Van","Minivan (MPV)","Coupe (2 cửa)","Pick-up (bán tải)"],["Van/Minivan", "Van/Minivan","Coupe","Bán tải / Pickup"])

chotot_df.info()
chotot_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30673 entries, 0 to 30672
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dong_xe      30472 non-null  object
 1   gia          30673 non-null  int64
 2   hang         30473 non-null  object
 3   hop_so       30465 non-null  object
 4   kieu_dang    28847 non-null  object
 5   km_da_di     23461 non-null  object
 6   nam_sx       30473 non-null  object
 7   nhien_lieu   28889 non-null  object
 8   so_cho_ngoi  29205 non-null  object
 9   tinh_trang   30671 non-null  object
 10  xuat_xu      26591 non-null  object
dtypes: int64(1), object(10)
memory usage: 2.6+ MB

,dong_xe,gia,hang,hop_so,kieu_dang,km_da_di,nam_sx,nhien_lieu,so_cho_ngoi,tinh_trang,xuat_xu
0,Corona,74000000,Toyota,Số sàn,Sedan,289569,1993,Xăng,5,Đã sử dụng,Nhật Bản
1,Sorento,1230000000,Kia,Tự động,SUV / Cross over,3100,2021,Dầu,7,Đã sử dụng,Việt Nam
2,Cerato,513000000,Kia,Tự động,Sedan,39000,2018,Xăng,5,Đã sử dụng,NaN
3,Explorer,1786000000,Ford,Tự động,SUV / Cross over,300000,2018,Xăng,8,Đã sử dụng,Mỹ
4,Spark,130000000,Chevrolet,Tự động,Hatchback,15088,2008,Xăng,5,Đã sử dụng,NaN

In [3]:
bonbanh_df = pd.read_csv("bonbanh.csv")
bonbanh_df = bonbanh_df.drop(columns=['kieu_dang'])
bonbanh_df = bonbanh_df.rename(columns={"gia" : "hon_hop"})
bonbanh_df = bonbanh_df.rename(columns={"dong_xe" : "kieu_dang"})
bonbanh_df.head()

,kieu_dang,hon_hop,hop_so,km_da_di,mau_xe,nhien_lieu,so_cho_ngoi,so_cua,tinh_trang,xuat_xu
0,Sedan,Xe\tMercedes Benz S class\tS450L Luxury\t2019\...,Số tự động,"9,000 Km",Đen,Xăng\t3.0 L,5 chỗ,4 cửa,Xe đã dùng,Lắp ráp trong nước
1,Sedan,Xe\tMercedes Benz C class\tC200\t2017\t- 1 Tỷ ...,Số tự động,"20,000 Km",Đỏ,Xăng\t2.0 L,5 chỗ,4 cửa,Xe đã dùng,Lắp ráp trong nước
2,Crossover,Xe\tHyundai Kona\t2.0 AT\t2021\t- 579 Triệu,Số tự động,0 Km,Đỏ,Xăng\t2.0 L,5 chỗ,5 cửa,Xe mới,Lắp ráp trong nước
3,Crossover,Xe\tHyundai Tucson\t2.0 AT Đặc biệt\t2021\t- 8...,Số tự động,0 Km,Trắng,Xăng\t2.0 L,5 chỗ,5 cửa,Xe mới,Lắp ráp trong nước
4,Sedan,Xe\tPorsche Panamera\t3.0 V6\t2017\t- 5 Tỷ 750...,Số tự động,"32,000 Km",Đen,Xăng\t3.0 L,4 chỗ,5 cửa,Xe đã dùng,Nhập khẩu

Xóa các bản ghi có chứa trường có giá trị rỗng

In [4]:
chotot_df = chotot_df.dropna()
bonbanh_df = bonbanh_df.dropna()
chotot_df.head()

,dong_xe,gia,hang,hop_so,kieu_dang,km_da_di,nam_sx,nhien_lieu,so_cho_ngoi,tinh_trang,xuat_xu
0,Corona,74000000,Toyota,Số sàn,Sedan,289569,1993,Xăng,5,Đã sử dụng,Nhật Bản
1,Sorento,1230000000,Kia,Tự động,SUV / Cross over,3100,2021,Dầu,7,Đã sử dụng,Việt Nam
3,Explorer,1786000000,Ford,Tự động,SUV / Cross over,300000,2018,Xăng,8,Đã sử dụng,Mỹ
6,Sedona,990000000,Kia,Tự động,Van/Minivan,40000,2019,Dầu,7,Đã sử dụng,Việt Nam
8,Triton,320000,Mitsubishi,Tự động,Bán tải / Pickup,123,2010,Dầu,5,Đã sử dụng,Thái Lan

Xóa dấu, xóa dấu cách, đưa về chữ in thường

In [5]:
def remove_accent(text):
    return unidecode.unidecode(text)
def preprocess_remove_unicode(ten):
    ten = remove_accent(ten)
    ten="".join(ten.split())
    ten = ten.lower()
    return ten

Xử lý xuất xứ

In [6]:
list_xuat_xu = chotot_df['xuat_xu'].tolist()
def process_origin(i):
    i=preprocess_remove_unicode(i)
    if "viet" in i:
        return "Lắp ráp trong nước"
    else: 
        return "Nhập khẩu"
for i,value in enumerate(list_xuat_xu):
    list_xuat_xu[i] = process_origin(value)

In [7]:
chotot_df.drop(columns='xuat_xu')
chotot_df['xuat_xu'] = list_xuat_xu

In [8]:
chotot_df.head()

,dong_xe,gia,hang,hop_so,kieu_dang,km_da_di,nam_sx,nhien_lieu,so_cho_ngoi,tinh_trang,xuat_xu
0,Corona,74000000,Toyota,Số sàn,Sedan,289569,1993,Xăng,5,Đã sử dụng,Nhập khẩu
1,Sorento,1230000000,Kia,Tự động,SUV / Cross over,3100,2021,Dầu,7,Đã sử dụng,Lắp ráp trong nước
3,Explorer,1786000000,Ford,Tự động,SUV / Cross over,300000,2018,Xăng,8,Đã sử dụng,Nhập khẩu
6,Sedona,990000000,Kia,Tự động,Van/Minivan,40000,2019,Dầu,7,Đã sử dụng,Lắp ráp trong nước
8,Triton,320000,Mitsubishi,Tự động,Bán tải / Pickup,123,2010,Dầu,5,Đã sử dụng,Nhập khẩu

In [9]:
columns = ['dong_xe','gia','hang','hop_so','kieu_dang','km_da_di','nam_sx','nhien_lieu','so_cho_ngoi','tinh_trang','xuat_xu']

Xử lý chính tả, gộp các hãng bonbanh

In [10]:
def process_branch_bonbanh(i):
    i = preprocess_remove_unicode(i)
    if i == 'pronto':
        return "Proton"
    elif "chienthang" in i:
        return "Chien Thang"
    elif "cuul" in i:
        return "Cuu Long"
    elif "dothanh" in i:
        return "Do Thanh"
    elif "giaiph" in i:
        return "Giai Phong"
    elif "hino" in i:
        return "Hino"
    elif "howo" in i:
        return "Howo"
    elif "jac" in i:
        return "JAC"
    elif "jinbei" in i:
        return "Jinbei"
    elif "jrd" in i:
        return "JRD"
    elif "kenbo" in i:
        return "Kenbo"
    elif "samco" in i:
        return "Samco"
    elif "tera" in i:
        return "Teraco"
    elif "koma" in i:
        return "Komatsu"
    elif "kuma" in i:
        return "Komatsu"
    elif "thanhcong" in i:
        return "Thanh Cong"
    elif "truonggiang" in i:
        return "Truong Giang"
    elif "veam" in i:
        return "Veam"
    else: 
        return "Hãng khác"

In [11]:
# tách hon_hop thành giá, năm sản xuất, hãng
x = set()
gia = []
nam_sx = []
hang = []
dong_xe = []

for idx, value in enumerate(bonbanh_df['hon_hop']):
    nam, gia_tien = value.split("\t")[-2:]
    nam_sx.append(nam)

    gia_tien = gia_tien.split()[1:]
    gia_tri = []
    for idx, gt in enumerate(gia_tien):
        if gt == "Triệu":
            gia_tri.append(int(gia_tien[idx-1])*1e6)
        if gt == "Tỷ":
            gia_tri.append(int(gia_tien[idx-1])*1e9)
    gia_tri = int(sum(gia_tri))
    gia.append(gia_tri)

    hang_xe = value.split("\t")[1:-2][0].split()
    # for i in hang_xe:
    #     i = process_branch_bonbanh(i)
    bonbanh_hangxe = ""
    flag = False
    for i in hang_xe:
        bonbanh_hangxe += i
        if bonbanh_hangxe in all_hang:
            #print(bonbanh_hangxe)
            hang.append(bonbanh_hangxe)
            flag = True
            break
        else:
            bonbanh_hangxe += " "
    if flag == False:
        hang.append(bonbanh_hangxe)
    
    dong = hang_xe[len(bonbanh_hangxe.split()):]
    dong_xe_tmp = ""
    if len(dong) > 0:
        for i in dong:
            dong_xe_tmp += i
            if dong_xe_tmp in all_dong_xe:
                #print(bonbanh_hangxe)
                dong_xe.append(dong_xe_tmp)
                dong_xe_tmp = ""
                break
            else:
                bonbanh_hangxe += " "
        if len(dong_xe_tmp) > 1:
            dong_xe.append(dong_xe_tmp)
    else:
        dong_xe.append(float('NaN'))
for i,value in enumerate(hang):
    if value not in all_hang:
        hang[i] = process_branch_bonbanh(value)

# nhiên liệu
nhien_lieu = []
for idx, value in enumerate(bonbanh_df['nhien_lieu']):
    nhien_lieu.append(value.split()[0])

# so_cho_ngoi
so_cho_ngoi = []
for idx, value in enumerate(bonbanh_df['so_cho_ngoi']):
    so_cho_ngoi.append(value.split()[0])

# tình trang
bonbanh_df["tinh_trang"] = bonbanh_df['tinh_trang'].replace(['Xe đã dùng','Xe mới'],['Đã sử dụng',"Mới"])

# km đã đi
km_da_di = []
for idx, value in enumerate(bonbanh_df['km_da_di']):
    km_da_di.append(int(value.split()[0].replace(",","")))
    
bonbanh_df.hop_so = bonbanh_df["hop_so"].replace(["Số tự động"], "Tự động")
bonbanh_df["km_da_di"] = km_da_di
bonbanh_df["so_cho_ngoi"] = so_cho_ngoi
bonbanh_df["nhien_lieu"] = nhien_lieu
bonbanh_df["nam_sx"] = nam_sx
bonbanh_df["gia"] = gia
bonbanh_df["dong_xe"] = dong_xe
bonbanh_df = bonbanh_df.drop(columns=['hon_hop','mau_xe',"so_cua"])
bonbanh_df["hang"] = hang
bonbanh_df.kieu_dang = bonbanh_df.kieu_dang.replace(["Crossover","SUV"],["SUV / Cross over", "SUV / Cross over"])
bonbanh_df

,kieu_dang,hop_so,km_da_di,nhien_lieu,so_cho_ngoi,tinh_trang,xuat_xu,nam_sx,gia,dong_xe,hang
0,Sedan,Tự động,9000,Xăng,5,Đã sử dụng,Lắp ráp trong nước,2019,4480000000,Sclass,Mercedes Benz
1,Sedan,Tự động,20000,Xăng,5,Đã sử dụng,Lắp ráp trong nước,2017,1155000000,Cclass,Mercedes Benz
2,SUV / Cross over,Tự động,0,Xăng,5,Mới,Lắp ráp trong nước,2021,579000000,Kona,Hyundai
3,SUV / Cross over,Tự động,0,Xăng,5,Mới,Lắp ráp trong nước,2021,825000000,Tucson,Hyundai
4,Sedan,Tự động,32000,Xăng,4,Đã sử dụng,Nhập khẩu,2017,5750000000,Panamera,Porsche
...,...,...,...,...,...,...,...,...,...,...,...
35969,SUV / Cross over,Tự động,0,Xăng,5,Đã sử dụng,Lắp ráp trong nước,2020,870000000,CX5,Mazda
35970,Sedan,Số tay,0,Xăng,5,Đã sử dụng,Lắp ráp trong nước,2001,185000000,Camry,Toyota
35971,Sedan,Tự động,8000,Xăng,5,Đã sử dụng,Lắp ráp trong nước,2020,529000000,Accent,Hyundai
35972,SUV / Cross over,Tự động,120000,Xăng,5,Đã sử dụng,Nhập khẩu,2005,495000000,RX,Lexus
35973,Bán tải / Pickup,Số tay,5000,Dầu,5,Đã sử dụng,Nhập khẩu,2020,696000000,Ranger,Ford

Gộp 2 dữ liệu

In [12]:
frames = [bonbanh_df,chotot_df]
data = pd.concat(frames)
data = data.reset_index()
data = data.drop('index', axis=1)

In [13]:
index1 = data[ data['hop_so'] == '-' ].index
data.drop(index1 , inplace=True)

In [14]:
index2 = data[ data['nhien_lieu'] == '-' ].index
data.drop(index2 , inplace=True)

In [15]:
data['km_da_di'] = data['km_da_di'].replace(['70 000 - 74 999'],'70000')

In [16]:
data

,kieu_dang,hop_so,km_da_di,nhien_lieu,so_cho_ngoi,tinh_trang,xuat_xu,nam_sx,gia,dong_xe,hang
0,Sedan,Tự động,9000,Xăng,5,Đã sử dụng,Lắp ráp trong nước,2019,4480000000,Sclass,Mercedes Benz
1,Sedan,Tự động,20000,Xăng,5,Đã sử dụng,Lắp ráp trong nước,2017,1155000000,Cclass,Mercedes Benz
2,SUV / Cross over,Tự động,0,Xăng,5,Mới,Lắp ráp trong nước,2021,579000000,Kona,Hyundai
3,SUV / Cross over,Tự động,0,Xăng,5,Mới,Lắp ráp trong nước,2021,825000000,Tucson,Hyundai
4,Sedan,Tự động,32000,Xăng,4,Đã sử dụng,Nhập khẩu,2017,5750000000,Panamera,Porsche
...,...,...,...,...,...,...,...,...,...,...,...
54991,Van/Minivan,Số sàn,80000,Xăng,8,Đã sử dụng,Lắp ráp trong nước,2019,565000000,Innova,Toyota
54992,Sedan,Tự động,38000,Xăng,5,Đã sử dụng,Lắp ráp trong nước,2018,563000000,3,Mazda
54993,Hatchback,Tự động,70000,Xăng,5,Đã sử dụng,Lắp ráp trong nước,2009,185000000,Morning,Kia
54994,Sedan,Số sàn,2555,Xăng,5,Đã sử dụng,Nhập khẩu,1999,42500000,Matiz,Daewoo
54995,Sedan,Tự động,80000,Xăng,4,Đã sử dụng,Nhập khẩu,2009,280000000,3,Mazda

Xử lý hộp số

In [17]:
data.hop_so.value_counts()

Tự động        36701
Số tay         11048
Số sàn          7062
Bán tự động      163
Số hỗn hợp         2
5                  2
Name: hop_so, dtype: int64

In [18]:
data.drop(data[(data['hop_so'] == '5') | (data['hop_so'] == 'Số hỗn hợp')].index, inplace=True)

In [19]:
data.hop_so.value_counts()

Tự động        36701
Số tay         11048
Số sàn          7062
Bán tự động      163
Name: hop_so, dtype: int64

Xử lý nhiên liệu

In [20]:
data.nhien_lieu.value_counts()

Xăng              45175
Dầu                9550
Hybrid              187
Điện                 33
Động cơ Hybrid       29
Name: nhien_lieu, dtype: int64

In [27]:
data.nhien_lieu = data.nhien_lieu.apply(lambda x: 'Hybrid' if x == 'Động cơ Hybrid' else x)

In [28]:
data.nhien_lieu.value_counts()

Xăng      45175
Dầu        9550
Hybrid      216
Điện         33
Name: nhien_lieu, dtype: int64

Xử lý số chỗ ngồi

In [21]:
data.so_cho_ngoi.value_counts()

5       36585
7        9006
8        4346
3        1461
2        1101
4        1077
16        666
6         226
9         137
29        130
Khác       79
10         57
0          23
47         17
12         16
1          11
30          8
34          5
17          3
15          3
38          2
39          2
35          2
20          2
45          2
33          1
27          1
19          1
23          1
25          1
40          1
46          1
Name: so_cho_ngoi, dtype: int64

In [22]:
so_cho_ngoi = data['so_cho_ngoi'].tolist()
for i,value in enumerate(so_cho_ngoi):
    if so_cho_ngoi[i] not in ['2','3','4','5','6','7','8','9','16']:
        so_cho_ngoi[i] = 'Khác'

data.so_cho_ngoi = so_cho_ngoi

In [23]:
data.so_cho_ngoi.value_counts()

5       36585
7        9006
8        4346
3        1461
2        1101
4        1077
16        666
Khác      369
6         226
9         137
Name: so_cho_ngoi, dtype: int64

In [29]:
data.head()

,kieu_dang,hop_so,km_da_di,nhien_lieu,so_cho_ngoi,tinh_trang,xuat_xu,nam_sx,gia,dong_xe,hang
0,Sedan,Tự động,9000,Xăng,5,Đã sử dụng,Lắp ráp trong nước,2019,4480000000,Sclass,Mercedes Benz
1,Sedan,Tự động,20000,Xăng,5,Đã sử dụng,Lắp ráp trong nước,2017,1155000000,Cclass,Mercedes Benz
2,SUV / Cross over,Tự động,0,Xăng,5,Mới,Lắp ráp trong nước,2021,579000000,Kona,Hyundai
3,SUV / Cross over,Tự động,0,Xăng,5,Mới,Lắp ráp trong nước,2021,825000000,Tucson,Hyundai
4,Sedan,Tự động,32000,Xăng,4,Đã sử dụng,Nhập khẩu,2017,5750000000,Panamera,Porsche

In [31]:
data.to_csv('mix_data.csv', sep='\t', encoding='utf-8')