In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import unidecode

In [2]:
chotot_df = pd.read_csv("chotot.csv")

from copy import deepcopy
chotot_df.hang = chotot_df.hang.replace(["Vinfast"], "VinFast")
all_hang = deepcopy(chotot_df.hang.unique())
all_hang = np.append(all_hang,['Thaco','McLaren','Cuu Long','Dongfeng','Dongben','Lamborghini','Vinaxuki','TMT',"Hoa Mai","Fuso","Proton","Chien Thang","Do Thanh","Giai Phong","Hino","Howo","JAC","Jinbei","JRD","Kenbo","Samco","Teraco","Komatsu","Veam","Thanh Cong","Truong Giang"])

all_dong_xe = chotot_df.dong_xe.unique()
# Giá
chotot_gia = []
import math
for value in chotot_df.gia:
    chotot_gia.append(int(value.replace(".","").replace("đ","0")))
chotot_df['gia'] = chotot_gia
chotot_df[chotot_df['gia'] == 0]

# Kiểu dáng
chotot_df.kieu_dang = chotot_df.kieu_dang.replace(["Van","Minivan (MPV)","Coupe (2 cửa)","Pick-up (bán tải)"],["Van/Minivan", "Van/Minivan","Coupe","Bán tải / Pickup"])

chotot_df.info()
chotot_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30673 entries, 0 to 30672
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   dong_xe      30472 non-null  object
 1   gia          30673 non-null  int64
 2   hang         30473 non-null  object
 3   hop_so       30465 non-null  object
 4   kieu_dang    28847 non-null  object
 5   km_da_di     23461 non-null  object
 6   nam_sx       30473 non-null  object
 7   nhien_lieu   28889 non-null  object
 8   so_cho_ngoi  29205 non-null  object
 9   tinh_trang   30671 non-null  object
 10  xuat_xu      26591 non-null  object
dtypes: int64(1), object(10)
memory usage: 2.6+ MB

,dong_xe,gia,hang,hop_so,kieu_dang,km_da_di,nam_sx,nhien_lieu,so_cho_ngoi,tinh_trang,xuat_xu
0,Corona,74000000,Toyota,Số sàn,Sedan,289569,1993,Xăng,5,Đã sử dụng,Nhật Bản
1,Sorento,1230000000,Kia,Tự động,SUV / Cross over,3100,2021,Dầu,7,Đã sử dụng,Việt Nam
2,Cerato,513000000,Kia,Tự động,Sedan,39000,2018,Xăng,5,Đã sử dụng,NaN
3,Explorer,1786000000,Ford,Tự động,SUV / Cross over,300000,2018,Xăng,8,Đã sử dụng,Mỹ
4,Spark,130000000,Chevrolet,Tự động,Hatchback,15088,2008,Xăng,5,Đã sử dụng,NaN

In [3]:
bonbanh_df = pd.read_csv("bonbanh.csv")
bonbanh_df = bonbanh_df.drop(columns=['kieu_dang'])
bonbanh_df = bonbanh_df.rename(columns={"gia" : "hon_hop"})
bonbanh_df = bonbanh_df.rename(columns={"dong_xe" : "kieu_dang"})
bonbanh_df.head()

,kieu_dang,hon_hop,hop_so,km_da_di,mau_xe,nhien_lieu,so_cho_ngoi,so_cua,tinh_trang,xuat_xu
0,Sedan,Xe\tMercedes Benz S class\tS450L Luxury\t2019\...,Số tự động,"9,000 Km",Đen,Xăng\t3.0 L,5 chỗ,4 cửa,Xe đã dùng,Lắp ráp trong nước
1,Sedan,Xe\tMercedes Benz C class\tC200\t2017\t- 1 Tỷ ...,Số tự động,"20,000 Km",Đỏ,Xăng\t2.0 L,5 chỗ,4 cửa,Xe đã dùng,Lắp ráp trong nước
2,Crossover,Xe\tHyundai Kona\t2.0 AT\t2021\t- 579 Triệu,Số tự động,0 Km,Đỏ,Xăng\t2.0 L,5 chỗ,5 cửa,Xe mới,Lắp ráp trong nước
3,Crossover,Xe\tHyundai Tucson\t2.0 AT Đặc biệt\t2021\t- 8...,Số tự động,0 Km,Trắng,Xăng\t2.0 L,5 chỗ,5 cửa,Xe mới,Lắp ráp trong nước
4,Sedan,Xe\tPorsche Panamera\t3.0 V6\t2017\t- 5 Tỷ 750...,Số tự động,"32,000 Km",Đen,Xăng\t3.0 L,4 chỗ,5 cửa,Xe đã dùng,Nhập khẩu

Xóa các bản ghi có chứa trường có giá trị rỗng

In [4]:
chotot_df = chotot_df.dropna()
bonbanh_df = bonbanh_df.dropna()
chotot_df.head()

,dong_xe,gia,hang,hop_so,kieu_dang,km_da_di,nam_sx,nhien_lieu,so_cho_ngoi,tinh_trang,xuat_xu
0,Corona,74000000,Toyota,Số sàn,Sedan,289569,1993,Xăng,5,Đã sử dụng,Nhật Bản
1,Sorento,1230000000,Kia,Tự động,SUV / Cross over,3100,2021,Dầu,7,Đã sử dụng,Việt Nam
3,Explorer,1786000000,Ford,Tự động,SUV / Cross over,300000,2018,Xăng,8,Đã sử dụng,Mỹ
6,Sedona,990000000,Kia,Tự động,Van/Minivan,40000,2019,Dầu,7,Đã sử dụng,Việt Nam
8,Triton,320000,Mitsubishi,Tự động,Bán tải / Pickup,123,2010,Dầu,5,Đã sử dụng,Thái Lan

Xóa dấu, xóa dấu cách, đưa về chữ in thường

In [5]:
def remove_accent(text):
    return unidecode.unidecode(text)
def preprocess_remove_unicode(ten):
    ten = remove_accent(ten)
    ten="".join(ten.split())
    ten = ten.lower()
    return ten

Xử lý xuất xứ

In [6]:
list_xuat_xu = chotot_df['xuat_xu'].tolist()
def process_origin(i):
    i=preprocess_remove_unicode(i)
    if "viet" in i:
        return "Lắp ráp trong nước"
    else: 
        return "Nhập khẩu"
for i,value in enumerate(list_xuat_xu):
    list_xuat_xu[i] = process_origin(value)

In [7]:
chotot_df.drop(columns='xuat_xu')
chotot_df['xuat_xu'] = list_xuat_xu

In [8]:
chotot_df.head()

,dong_xe,gia,hang,hop_so,kieu_dang,km_da_di,nam_sx,nhien_lieu,so_cho_ngoi,tinh_trang,xuat_xu
0,Corona,74000000,Toyota,Số sàn,Sedan,289569,1993,Xăng,5,Đã sử dụng,Nhập khẩu
1,Sorento,1230000000,Kia,Tự động,SUV / Cross over,3100,2021,Dầu,7,Đã sử dụng,Lắp ráp trong nước
3,Explorer,1786000000,Ford,Tự động,SUV / Cross over,300000,2018,Xăng,8,Đã sử dụng,Nhập khẩu
6,Sedona,990000000,Kia,Tự động,Van/Minivan,40000,2019,Dầu,7,Đã sử dụng,Lắp ráp trong nước
8,Triton,320000,Mitsubishi,Tự động,Bán tải / Pickup,123,2010,Dầu,5,Đã sử dụng,Nhập khẩu

In [9]:
columns = ['dong_xe','gia','hang','hop_so','kieu_dang','km_da_di','nam_sx','nhien_lieu','so_cho_ngoi','tinh_trang','xuat_xu']

Xử lý chính tả, gộp các hãng bonbanh

In [10]:
def process_branch_bonbanh(i):
    i = preprocess_remove_unicode(i)
    if i == 'pronto':
        return "Proton"
    elif "chienthang" in i:
        return "Chien Thang"
    elif "cuul" in i:
        return "Cuu Long"
    elif "dothanh" in i:
        return "Do Thanh"
    elif "giaiph" in i:
        return "Giai Phong"
    elif "hino" in i:
        return "Hino"
    elif "howo" in i:
        return "Howo"
    elif "jac" in i:
        return "JAC"
    elif "jinbei" in i:
        return "Jinbei"
    elif "jrd" in i:
        return "JRD"
    elif "kenbo" in i:
        return "Kenbo"
    elif "samco" in i:
        return "Samco"
    elif "tera" in i:
        return "Teraco"
    elif "koma" in i:
        return "Komatsu"
    elif "kuma" in i:
        return "Komatsu"
    elif "thanhcong" in i:
        return "Thanh Cong"
    elif "truonggiang" in i:
        return "Truong Giang"
    elif "veam" in i:
        return "Veam"
    else: 
        return "Hãng khác"

In [11]:
# tách hon_hop thành giá, năm sản xuất, hãng
x = set()
gia = []
nam_sx = []
hang = []
dong_xe = []

for idx, value in enumerate(bonbanh_df['hon_hop']):
    nam, gia_tien = value.split("\t")[-2:]
    nam_sx.append(nam)

    gia_tien = gia_tien.split()[1:]
    gia_tri = []
    for idx, gt in enumerate(gia_tien):
        if gt == "Triệu":
            gia_tri.append(int(gia_tien[idx-1])*1e6)
        if gt == "Tỷ":
            gia_tri.append(int(gia_tien[idx-1])*1e9)
    gia_tri = int(sum(gia_tri))
    gia.append(gia_tri)

    hang_xe = value.split("\t")[1:-2][0].split()
    # for i in hang_xe:
    #     i = process_branch_bonbanh(i)
    bonbanh_hangxe = ""
    flag = False
    for i in hang_xe:
        bonbanh_hangxe += i
        if bonbanh_hangxe in all_hang:
            #print(bonbanh_hangxe)
            hang.append(bonbanh_hangxe)
            flag = True
            break
        else:
            bonbanh_hangxe += " "
    if flag == False:
        hang.append(bonbanh_hangxe)
    
    dong = hang_xe[len(bonbanh_hangxe.split()):]
    dong_xe_tmp = ""
    if len(dong) > 0:
        for i in dong:
            dong_xe_tmp += i
            if dong_xe_tmp in all_dong_xe:
                #print(bonbanh_hangxe)
                dong_xe.append(dong_xe_tmp)
                dong_xe_tmp = ""
                break
            else:
                bonbanh_hangxe += " "
        if len(dong_xe_tmp) > 1:
            dong_xe.append(dong_xe_tmp)
    else:
        dong_xe.append(float('NaN'))
for i,value in enumerate(hang):
    if value not in all_hang:
        hang[i] = process_branch_bonbanh(value)

# nhiên liệu
nhien_lieu = []
for idx, value in enumerate(bonbanh_df['nhien_lieu']):
    nhien_lieu.append(value.split()[0])

# so_cho_ngoi
so_cho_ngoi = []
for idx, value in enumerate(bonbanh_df['so_cho_ngoi']):
    so_cho_ngoi.append(value.split()[0])

# tình trang
bonbanh_df["tinh_trang"] = bonbanh_df['tinh_trang'].replace(['Xe đã dùng','Xe mới'],['Đã sử dụng',"Mới"])

# km đã đi
km_da_di = []
for idx, value in enumerate(bonbanh_df['km_da_di']):
    km_da_di.append(int(value.split()[0].replace(",","")))
    
bonbanh_df.hop_so = bonbanh_df["hop_so"].replace(["Số tự động"], "Tự động")
bonbanh_df["km_da_di"] = km_da_di
bonbanh_df["so_cho_ngoi"] = so_cho_ngoi
bonbanh_df["nhien_lieu"] = nhien_lieu
bonbanh_df["nam_sx"] = nam_sx
bonbanh_df["gia"] = gia
bonbanh_df["dong_xe"] = dong_xe
bonbanh_df = bonbanh_df.drop(columns=['hon_hop','mau_xe',"so_cua"])
bonbanh_df["hang"] = hang
bonbanh_df.kieu_dang = bonbanh_df.kieu_dang.replace(["Crossover","SUV"],["SUV / Cross over", "SUV / Cross over"])
bonbanh_df

,kieu_dang,hop_so,km_da_di,nhien_lieu,so_cho_ngoi,tinh_trang,xuat_xu,nam_sx,gia,dong_xe,hang
0,Sedan,Tự động,9000,Xăng,5,Đã sử dụng,Lắp ráp trong nước,2019,4480000000,Sclass,Mercedes Benz
1,Sedan,Tự động,20000,Xăng,5,Đã sử dụng,Lắp ráp trong nước,2017,1155000000,Cclass,Mercedes Benz
2,SUV / Cross over,Tự động,0,Xăng,5,Mới,Lắp ráp trong nước,2021,579000000,Kona,Hyundai
3,SUV / Cross over,Tự động,0,Xăng,5,Mới,Lắp ráp trong nước,2021,825000000,Tucson,Hyundai
4,Sedan,Tự động,32000,Xăng,4,Đã sử dụng,Nhập khẩu,2017,5750000000,Panamera,Porsche
...,...,...,...,...,...,...,...,...,...,...,...
35969,SUV / Cross over,Tự động,0,Xăng,5,Đã sử dụng,Lắp ráp trong nước,2020,870000000,CX5,Mazda
35970,Sedan,Số tay,0,Xăng,5,Đã sử dụng,Lắp ráp trong nước,2001,185000000,Camry,Toyota
35971,Sedan,Tự động,8000,Xăng,5,Đã sử dụng,Lắp ráp trong nước,2020,529000000,Accent,Hyundai
35972,SUV / Cross over,Tự động,120000,Xăng,5,Đã sử dụng,Nhập khẩu,2005,495000000,RX,Lexus
35973,Bán tải / Pickup,Số tay,5000,Dầu,5,Đã sử dụng,Nhập khẩu,2020,696000000,Ranger,Ford

Gộp 2 dữ liệu

In [12]:
frames = [bonbanh_df,chotot_df]
data = pd.concat(frames)
data = data.reset_index()
data = data.drop('index', axis=1)

In [19]:
list1= data['km_da_di'].unique().tolist()
print(list1)

[9000, 20000, 0, 32000, 79000, 75000, 37000, 50000, 85000, 28000, 70000, 350000, 31000, 15000, 12000, 35990, 40000, 200000, 34000, 42000, 999999, 60000, 230000, 100, 8000, 51000, 131000, 138000, 32496, 48000, 35000, 76000, 80000, 2000, 13000, 24000, 9900, 19000, 43000, 11500, 38000, 30000, 730081, 470000, 10000, 64000, 500, 90000, 65000, 121566, 6557, 72000, 2800, 76142, 14000, 89000, 56000, 56789, 100000, 6000, 180000, 47000, 98000, 120000, 25000, 4000, 6800, 45000, 140000, 18000, 236000, 4400, 27000, 3800, 11000, 3500, 42534, 133000, 67000, 53000, 110000, 92000, 57000, 68000, 132000, 22000, 67600, 36000, 9700000, 39999, 77000, 167000, 1000, 105000, 4800, 2390, 44000, 26000, 2200, 15, 148000, 17000, 46000, 52000, 50, 136000, 55000, 7005, 29000, 450000, 23000, 250000, 810000, 95000, 78000, 3000, 6100, 58368, 63789, 73000, 113000, 63318, 108000, 3200, 58000, 71234, 164000, 82000, 345, 93000, 150000, 5700, 10, 2999, 39500, 86000, 25700, 6900, 12600, 63889, 12, 34999, 66000, 18018, 40, 41000, 5000, 114562, 19, 238969, 82222, 51800, 260000, 92348, 6400, 101800, 34567, 130000, 9000000, 25393, 1122, 60101, 39000, 1000000, 125000, 21000, 84000, 59000, 310000, 62000, 87543, 295000, 200, 99999, 145000, 69, 7200, 4900, 46, 2900, 2300, 13149, 6, 109000, 115000, 86900, 58, 1600, 162000, 3769, 7700, 10115, 28888, 11652, 2700000, 8400, 325446, 80, 5599, 80898, 124510, 189000, 139000, 68052, 126000, 55555, 83000, 1, 99000, 16000, 23456, 3650, 69000, 30, 214000, 128061, 16680, 123456, 4600, 160000, 150, 97000, 900, 63788, 144194, 170000, 3400000, 140, 80963, 127000, 26789, 30546645, 66600, 20000000, 500000, 53603, 30115, 2500, 17980, 700, 7000, 900000, 172000, 950000, 891011, 33333, 13400, 1008, 166000, 96186, 789, 31700, 88000, 28700, 15800, 32648, 5200, 272890, 87000, 7500, 95612, 185000, 123, 224955, 155000, 19808, 4000000, 19550, 222222, 61000, 28965, 5100, 300000, 45678, 5, 8586, 6789, 6539, 5600, 59979, 370120, 190000, 112000, 686868, 82, 60, 800000, 22336, 222223, 460000, 66500, 128000, 71000, 220000, 11000000, 167500, 135000, 600, 91000, 33000, 9, 10500, 47735, 8, 66666, 568686, 65096, 48869, 5168, 45, 280000, 6008, 49000, 54000, 1400000, 38656, 210000, 96000, 686000, 12300, 23668, 90, 81000, 36688, 21668, 120734, 55668, 29, 57636, 86386, 63000, 29886, 631, 17866, 42568, 6382, 8100, 13456, 4500, 3566, 650000, 34652, 34, 1800, 154000, 46500, 44206, 6200, 85200, 216600, 700000, 18968, 38965, 57457, 108500, 29920, 208904, 76903, 16000086, 56, 69875, 60963, 11168, 102000, 36567, 125020, 24444, 400000, 165406, 84950, 14635, 1500000, 15000000, 850000, 600000, 282370, 65278, 137000, 1300000, 9500, 58506, 240000, 89064, 7000000, 79500000, 28668, 250000000, 118000, 13, 196000, 9300, 186838, 192000, 146000, 35500, 36866, 1170, 7300, 136868, 290000, 22725, 960000, 1346454, 89261, 1868, 22652, 135779, 88888, 182000, 25000000, 242069, 195000, 520000, 46666, 10700, 68369, 208000, 91250, 556000, 13900, 91149, 53979, 78888, 68686, 980000, 179000, 395610, 15500, 76376, 66, 176147, 152268, 2888, 330000, 940000, 183000, 121000, 568, 888888, 248905, 12230, 12345, 33700, 186000, 136, 840000, 340000, 5500, 5800, 10900, 69683, 333333, 116000, 12500, 8500, 117000, 74000, 158000, 47, 59800, 52369, 7156, 196800, 9700, 2147, 58888, 560000, 94000, 9600, 2054678, 45500, 34500, 100000000, 14263, 10100, 2130, 15999, 300, 142823, 106000, 37360, 134000, 80213, 266000, 2280000, 22700, 75600, 31786, 89550, 38236, 26200, 145600, 120, 5900, 13000000, 163000, 3666, 9659, 1234, 1500, 16, 30100, 20400, 29960, 123000, 111113, 107700, 395000, 1300, 4930, 20, 71500, 15900, 129520, 78965, 14587, 3456789, 58262, 158666, 12800, 98999, 37666, 128941, 7, 28800, 84308, 26666, 53668, 6589, 10000000, 124000, 39136, 799, 11600, 1200000, 240500, 271000, 172820, 3000000, 66869, 78090, 90100, 977777, 33750, 3700000, 5300, 5779, 79999, 9999999, 129000, 18666, 22222, 48685, 39666, 98860, 100899, 6767, 354488, 67500, 111111, 12436, 39, 52120, 1504, 11536, 6850000, 812312, 17, 36500, 2000000, 239000, 169000, 2700, 39753, 856900, 88135, 20300, 23042, 38688, 278773, 2077, 170, 8700, 380000, 85950, 32569, 65, 8686, 438, 6500, 26000000, 333000, 32099, 8668, 159000, 18, 2600000, 3377, 78564, 27800, 106006, 24050, 124536, 55800, 166666, 95850, 31, 33500, 14500, 12386, 151515, 77156, 4800000, 50427, 23600, 225009, 1800000, 202700, 80008, 730000, 66333, 1111111, 37686, 70, 82335, 22066, 176085, 21515, 108, 85868, 1077, 65666, 114000, 65680, 14000000, 213911, 9800, 17830, 95319, 145419, 37880, 26886, 780000, 21452, 255000, 105, 121207, 18699, 39600, 40438, 9908, 55, 4200, 193805, 315000, 101000, 72552, 11070, 158032, 85888, 124675, 133333, 38380, 7900, 1111, 76, 11888, 24900, 6800000, 230, 21, 111119, 95340, 30620, 79, 43636, 33663, 36366, 68888, 26636, 285, 48777, 3600, 50430, 288888, 9400, 19800, 18211, 300000000, 174000, 168, 75558, 72340, 74170, 160, 41500, 4294967295, 78945, 27500, 80115, 270000, 24990, 27250, 51234, 31234, 124780, 38888, 76500, 240, 37168, 36800, 76236, 27560, 123987, 48888, 187488, 119000, 149000, 16059, 86668, 158, 1200, 15112, 4950, 16000000, 4136, 10656, 86826, 86568, 61, 9999, 65865, 65420, 7778, 368, 10600, 235286, 1100, 79600, 22500, 4700, 218, 84520, 83400, 27612, 134080, 19999, 2, 9998, 9457, 16968, 4100, 17500, 157000, 3508, 187000, 281000, 15558, 800, 245000, 10888, 88300, 30400, 52800, 52222, 52200, 39323, 20600, 32658, 1900, 970000, 123581, 3900, 12833, 16886, 54696, 14818, 888889, 4480, 24500, 112030, 8300, 81500, 59049, 12100, 68110, 4, 27, 11, 321188, 999, 56500, 256000, 104000, 168000, 110295, 25900, 65430, 42500, 400, 7123, 136578, 8006, 2500000, 5885, 58200, 73789, 37560, 10339, 15739, 36863, 2010, 22064, 44888, 26880, 40500, 96789, 11970, 868682, 83, 489000, 33533, 36850, 1900000, 76286, 217600, 90135, 31294, 27086, 2400, 54666, 58900, 8600, 61233, 2350, 180, 695000, 430000, 13800, 2750000, 28900, 43600, 5555, 21500, 63258, 61256, 3, 12000000, 56378, 4869, 46144, 152000000, 102131, 62368, 61500, 10800, 46123, 22345, 70579, 128364, 678, 36, 13500, 152000, 21300, 82855, 63688, 73665, 89999, 25, 12348, 16905, 81238, 1363, 14888, 30050, 31600, 8200, 10200, 54534, 149251, 37800, 165000, 147000, 103364, 222, 47900, 30740, 72050, 310006, 223862, 79300, 6500000, 123222, 3250, 125, 34168, 320000, 158500, 6000000, 740000, 34820, 94696, 54193, 100600, 6886, 89230, 17500000, 83682, 96121, 5689, 84560, 98057, 123450, 16880, 98524, 97660, 316000, 8800, 14444, 30789, 453185, 178989, 1010, 97500, 37250, 52160, 7800, 18900, 100500, 68230, 46328, 17700, 89658, 189, 5000000, 325000, 133215, 40963, 111000, 20841, 112032, 16700, 50333, 83147, 3700, 31210, 136532, 233000, 301000, 175999, 7600, 78502, 74300, 109262, 9873, 250, 61234, 2300000, 26300, 184402, 143766, 127641, 49100, 46900, 17999, 42500000, 60467, 12568, 156896, 68490, 17880, 72284, 11700, 134567, 111, 50078844, 100100, 2600, 11400, 31068, 27700, 50168, 197000, 80700, 370000, 46400, 12800000, 121212, 286576, 257868, 88892, 18500, 158632, 112345, 15600, 96600, 92668, 252685, 15379, 48886, 338568, 63794, 178000, 118888, 52345, 18526, 99, 15555, 1258, 7899, 36575, 80100, 65050, 168187, 50000000, 37766, 189500, 31200, 35, 142000, 1600000, 12001, 32, 102300, 65896, 171000, 82500, 183200, 201000, 8228, 25800, 39169, 184000, 31260, 39256, 54680, 60986, 60006, 95555, 14579, 11720, 68950, 63456, 6779, 256876, 67899, 51668, 86500, 95200, 540000, 25856, 72597, 57691, 13520, 14035, 55688, 70115, 175000, 199000, 10400, 3300, 16568, 1100000, 20963, 60936, 665879, 218000, 10972, 156880, 188366, 96754, 112056, 264800, 96666, 30610, 54, 48168, 7886, 314000, 86333, 16500, 141000, 76200, 75868, 245700, 30509, 19379, 199900, 195632, 14532, 11268, 139280, 29996, 18800, 72900, 2200000, 8900, 75321, 68990, 292000, 92969, 33452, 73222, 231715, 107000, 46872, 199999, 215000, 83100, 102600, 19700, 42477, 38600, 22, 144000, 1550000, 18432, 16423, 52500, 92400, 28739, 36739, 1700, 27905, 91123, 135, 91500, 44444, 480000, 36239, 10139, 204000, 83866, 16688, 38689, 2389999, 177000, 62814, 156130, 24800, 85688, 142533, 2400000, 122222, 56363, 31256, 55500, 71647, 333, 47968, 87, 6858, 1578569, 232989, 80500, 2733, 2353, 59123, 8532, 79027, 41700, 22022, 399000, 47500, 312456, 85689, 47300, 52166, 3461, 119680, 2100, 78999, 87593, 76820, 17768, 27042, 48555, 36852, 52376, 33992, 72937, 234543, 26500, 95800, 49750, 30600, 9233, 9200, 53638, 13123, 820000, 6600, 169986, 16800, 3333, 8888, 13239, 390, 163399, 72345, 88689, 86780, 21720, 73700, 89900, 13550, 550, 12089, 67890, 82650, 53800, 6286, 4168, 16668, 1870, 24379, 122, 156000, 860000, 15300, 8231, 350, 40675, 224000, 390000, 143444, 32222, 86056, 64200, 204556, 6700, 16780, 237168, 110, 113189, 24268, 24445, 100103, 48789, 24433, 62166, 6666, 428888, 42957, 72600, 215314, 79382, 2853, 70500, 850, 14969, 117239, 7238, 19475, 36600, 44500, 18710, 98659, 12900, 90510, 4300, 50200, 18678, 204482, 3686, 29600, 62200, 114389, 98540, 162587, 30500, 55300, 101012, 23800, 185500, 224800, 79975, 66085, 17568, 12689, 96576, 6890, 92368, 343752, 32600, 688888, 63999, 3100, 42826, 4895, 18726, 58120, 238352, 5360, 1210, 17900, 119612, 99900, 80200, 72400, 85426, 4750, 42685, 4739, 38556, 37311, 23821, 1380000, 22156, 66888, 28600, 38827, 52680, 16739, 68999, 38583, 103000, 12222, 40384, 124, 34400, 9030, 11111, 15700, 19500, 212121, 234567, 45126, 110466, 106284, 115757, 74782, 30606, 65139, 33688, 173000, 65135, 8276, 57100, 115200, 40858, 35100, 18400, 83362, 58508, 81179, 77300, 16666, 10860, 28500, 51200, 530, 130000000, 88252, 29800, 145862, 3883, 2880, 8502, 15613, 60396, 36262, 3968, 13566, 58236, 36868, 115300, 78910, 268000, 96969, 28068, 98066, 50115, 89068, 99806, 121739, 103100, 141129, 30800, 120786, 60500, 5400, 68920, 228298, 128209, 185248, 88800, 60600, 75828, 11685, 10245, 82014, 4440, 78256, 33365, 30550, 82480, 53248, 56600, 50285, 40115, 81293, 16222, 14277, 88, 74965, 91234, 14200, 120000000, 65900, 64533, 17890, 44700, 155, 10088, 84723, 2442, 156366, 121266, 14439, 43333, 31295, 165439, 38341, 50963, 31966, 50896, 26196, 1606, 90191, 7598, 1450000, 98068, 120668, 35569, 126300, 89, 93939, 27379, 64379, 9639, 23379, 279000, 26665, 80545, 39105, 48695, 222000, 46188, 109653, 80140, 360, 6222, 6885, 115, 28569, 2222, 57, 41234, 68721, 68, 86, 61235, 22679, 46600, 26800, 48500, 920000, 750000, 888, 126066, 67168, 86800, 62400, 42800, 91308, 68257, 60227, 2336, 42888, 11011, 36537, 105500, 440, 60168, 83200, 57300, 93998, 71099, 62500, 102386, 54243, 70000000, 152190, 103098, 53889, 50248, 41140, 76123, 32140, 25689, 45689, 73568, 105689, 45089, 13200, 44400, 191919, 22868, 750, 53686, 3400, 38379, 50893, 82668, 55700, 27713, 13298, 10379, 43050, 91140, 7979, 6235, 69999, 86866, 151000, 60266, 80668, 71557, 20379, 205000, 76868, 106885, 108562, 69800, 91088, 78978, 119988, 2345, 55600, 28868, 24400, 81234, 33568, 128630, 39568, 102356, 11800, 102413, 1150, 39333, 93123, 118354, 666899, 522, 92688, 90400, 68457, 3999, 95761, 83500, 28400, 81889, 143000, 52999, 53600, 4220, 168218, 72873, 85800, 25555, 76559, 252678, 65161, 47200, 148450, 25865, 65123, 50866, 13686, 65555, 75, 895, 54852, 98689, 14800, 97807, 73689, 7258, 52689, 27705, 38700, 34140, 99189, 18600, 150015, 62369, 86789, 68500, 63856, 38152, 31252, 79932, 161000, 41236, 22225, 203000, 23867, 459, 61551, 52180, 18386, 890000, 43668, 121068, 83863, 59668, 7355, 5588, 115689, 63248, 4523, 185, 1251, 30200, 640, 86456, 58594, 53858, 6368, 91933, 218484, 11300, 97555, 564, 73600, 8564, 57168, 26150, 680000, 39140, 114263, 26, 91687, 1010101, 41258, 1766, 44175, 47168, 128552, 71286, 48680, 50005, 36869, 56297, 106, 95168, 63262, 9638, 56985, 65076, 80893, 49863, 258678, 42168, 26688, 51783, 14300, 38400, 39653, 100200, 122112, 191234, 213000, 12562, 80482, 127877, 630000, 35285, 40125, 161155, 6899, 36296, 28236, 65056, 37123, 58689, 189679, 121216, 39575, 76899, 75800, 95689, 72689, 44, 35689, 46208, 168268, 96218, 186618, 96436, 26100, 23689, 1086, 106899, 36789, 62345, 168200, 35075, 56335, 31300, 112569, 86086, 12266, 63668, 35668, 80068, 76523, 92089, 1400, 34125, 35623, 48212, 38625, 62356, 6279, 28786, 132668, 35869, 84116, 12383, 175890, 55055, 68688, 68880, 36849, 17223, 112365, 98569, 245668, 26064, 5443, 15655, 82368, 139068, 6200000, 42079, 32156, 185678, 104500, 2150, 256895, 33268, 28447, 68102, 97608, 138, 23563, 216856, 63200, 35607, 38038, 7527000, 59374, 95666, 85170, 29001, 101680, 52168, 86125, 2502, 62962, 93689, 699, 42, 18258, 126700, 32255, 74, 59999, 20500, 54700, 8761, 32888, 113600, 31179, 66900, 40686, 12236, 47165, 78652, 62026, 9099, 78904, 1992, 68252, 660, 62088, 70050, 7777, 37077, 44159, 6750, 55628, 78901, 42369, 97035, 77100, 81230, 99868, 163045, 66352, 195689, 16600, 166131, 35700, 63778, 1650, 11200, 19900, 56375, 65689, 91634, 14100, 50703, 48282, 96100, 66689, 89979, 89376, 77500, 77135, 1123, 59736, 78998, 59836, 96, 1372900, 30030, 29333, 48800, 66899, 43400, 3797, 23322, 9946, 49220, '289569', '3100', '300000', '40000', '123', '78000', '76142', '87000', '52000', '100000', '119000', '32000', '63000', '120000', '42000', '10000', '135000', '102000', '99941', '7700', '33000', '55738', '170', '52', '162000', '105000', '14000', '30000', '500', '5588', '7000', '140000', '106000', '68000', '6900', '80000', '15000', '88000', '67000', '53000', '70000', '50000', '160000', '150000', '57000', '74000', '29000', '8000', '137000', '39000', '83000', '179000', '81000', '25', '36000', '103000', '1869', '21000', '51', '35000', '126000', '66000', '69000', '22000', '13000', '62000', '3000', '6000', '130000', '26000', '188', '200000', '5000', '27000', '20000', '50132', '16000', '191919', '12', '34689', '67168', '950000', '1000', '28000', '60000', '90000', '52222', '38000', '72000', '86000', '112000', '37000', '5500', '18000', '85000', '260000', '46000', '21789', '12000', '2500', '218000', '79000', '47000', '62116', '75', '183', '500000', '30', '1', '686868', '19000', '89569', '59000', '124000', '160286', '134143', '169', '56000', '48000', '38379', '235625', '86528', '146', '4', '76000', '64000', '61000', '65123', '100', '93000', '1000000', '9000', '16500', '25000', '53', '11000', '17000', '115', '178000', '50', '55000', '6600', '140', '110000', '38685', '99', '58', '145638', '71000', '45000', '169000', '31000', '250000', '99999', '23000', '4222', '59740', '4500', '4000', '68', '115000', '14600', '80115', '156000', '789', '117222', '65', '60', '65000', '80123', '109000', '2000', '10500', '54000', '160603', '320000', '186886', '132000', '18680', '8368', '180000', '20', '330000', '888', '12344', '84000', '177', '220000', '97', '98000', '280088', '3838', '178', '18', '77000', '95', '870000', '123456', '1234', '114000', '440', '11', '58000', '12345', '100002', '51000', '25686', '191396', '10', '6856', '111', '383838', '138000', '89000', '9999', '95000', '128000', '186', '999', '26470', '400000', '51005', '45', '13400', '216997', '300', '24000', '7600', '43000', '15', '92000', '55671', '198000', '321238', '230', '172369', '53800', '150', '35111', '850000', '196000', '167', '390000', '48500', '14500', '82000', '75000', '6', '310000', '5555', '900000', '131000', '270000', '111111', '19907', '2345', '18600', '13500', '600000', '168752', '11111', '80888', '191000', '24500', '23456', '365457', '75869', '6789', '230000', '113000', '20800', '165000', '4399', '1800', '107000', '47', '170000', '44000', '168680', '36580', '108000', '190000', '96000', '800000', '1313', '276248', '10200', '91966', '2649', '9500', '81', '41000', '95430', '50963', '1500', '73654', '23', '8300', '356789', '120', '29', '3800', '11800', '55555', '97000', '3998', '123000', '26', '370003', '610000', '73000', '75079', '2', '145682', '1560', '175000', '14', '50115', '86', '58195', '785412', '23773', '37066', '400', '11875', '380000', '49000', '110008', '7200', '2600', '157000', '5600', '204000', '9890', '112345', '7500', '88600', '187800', '97600', '82', '213456', '660000', '2100', '90', '250980', '650000', '5', '111229', '149163', '99876', '10600', '102222', '1699', '12689', '84500', '155000', '136000', '31225', '50869', '4700', '190468', '96963', '999999', '580000', '10100', '125000', '985632', '225000', '268000', '258000', '240000', '245000', '60500', '112', '333', '1111', '223136', '3', '5800', '123466', '6500', '8386', '99000', '33333', '700000', '45667', '900', '378520', '22222', '495005', '244444', '3203', '40115', '111000', '210000', '19781', '112257', '2800', '37', '125', '238989', '101000', '35200', '3500', '66333', '907968', '8330', '6666', '33426', '639000', '9899', '8100', '108556', '88888', '450000', '750000', '3900', '5999', '9900', '600', '14326', '13', '3700', '83227', '813184', '174520', '19988', '91000', '26251', '128880', '85600', '1700', '712000', '117000', '163696', '11200', '16', '14596', '7', '28889', '256000', '45505', '987536', '44666', '86552', '368989', '630000', '50866', '8600', '72345', '1200', '333000', '970000', '45678', '17800', '50369', '222', '200', '79369', '255000', '51051', '217000', '335556', '38', '21821', '105', '350000', '370020', '34000', '1246', '17500', '174000', '5400', '6886', '690000', '15500', '24400', '46868', '2900', '5300', '44500', '224000', '28651', '133600', '290000', '68906', '89999', '13222', '12466', '385100', '109853', '165', '222222', '195000', '94000', '243000', '6322', '145000', '78', '8', '31268', '980000', '1600', '187000', '89659', '11740', '144000', '56789', '270', '153456', '440000', '11500', '280000', '125656', '57115', '234490', '98', '7652', '124569', '215000', '189011', '342000', '9200', '21300', '55', '320', '430000', '989', '898999', '45269', '25430', '4586', '29999', '199999', '460000', '2300', '48695', '154000', '4300', '1245', '28695', '98057', '116000', '4400', '195452', '13800', '35668', '2400', '920000', '7788', '129000', '142580', '79900', '82500', '40', '31151', '127000', '62360', '4999', '868000', '142352', '179', '12857', '5855', '90525', '5100', '26650', '1235', '65500', '24', '9', '760000', '54100', '3333', '6868', '15999', '688600', '66666', '89', '11144', '888888', '154', '160023', '18500', '80', '16800', '65240', '182000', '462', '37220', '32500', '24001', '89123', '110435', '172000', '1345', '80369', '28817', '186000', '28340', '79799', '8200', '45698', '50427', '96543', '247000', '40500', '6300', '126261', '155555', '111463', '27612', '3200', '908898', '72245', '54259', '160730', '1900', '168', '5789', '180', '169878', '51200', '222000', '67774', '121000', '4100', '20700', '2250', '76200', '48600', '13100', '75698', '36958', '32586', '85', '122', '710000', '77899', '6700', '46910', '28400', '17999', '22368', '250', '71386', '76985', '57956', '333333', '118000', '12586', '82480', '4189', '7800', '19', '1666', '31816', '8500', '133', '8947', '70', '26900', '67243', '53263', '399979', '199000', '6800', '160', '456321', '158000', '104000', '74368', '29888', '45938', '678910', '123568', '65430', '13700', '22500', '14818', '34286', '21888', '238000', '83526', '133333', '108263', '60412', '23863', '666', '234', '45686', '360000', '145', '197000', '185000', '321188', '4344', '49856', '33077', '52401', '12456', '385', '77777', '91200', '41235', '168000', '110021', '67857', '237000', '140414', '44', '130099', '4856', '9700', '11298', '4600', '42097', '499', '115832', '239000', '60115', '12569', '160463', '246870', '122000', '4800', '147000', '24991', '92538', '28028', '164000', '110', '149000', '181000', '62527', '555555', '340000', '122222', '20168', '9600', '9800', '68268', '141000', '15268', '310485', '79', '38838', '31551', '354425', '4869', '21529', '168837', '185690', '46613', '142000', '3250', '93344', '149876', '100005', '101', '148', '48164', '36600', '125365', '103999', '36100', '212000', '264000', '139000', '3400', '105772', '38278', '85998', '8585', '163456', '72100', '58606', '4156', '38090', '86666', '59900', '102530', '7400', '700', '560000', '26400', '122653', '40200', '76700', '288852', '7100', '98417', '16557', '27800', '90889', '7993', '94324', 

In [20]:
index1 = data[ data['hop_so'] == '-' ].index
data.drop(index1 , inplace=True)

In [21]:
index2 = data[ data['nhien_lieu'] == '-' ].index
data.drop(index2 , inplace=True)

In [22]:
data['km_da_di'] = data['km_da_di'].replace(['70 000 - 74 999'],'70000')

In [23]:
data

,kieu_dang,hop_so,km_da_di,nhien_lieu,so_cho_ngoi,tinh_trang,xuat_xu,nam_sx,gia,dong_xe,hang
0,Sedan,Tự động,9000,Xăng,5,Đã sử dụng,Lắp ráp trong nước,2019,4480000000,Sclass,Mercedes Benz
1,Sedan,Tự động,20000,Xăng,5,Đã sử dụng,Lắp ráp trong nước,2017,1155000000,Cclass,Mercedes Benz
2,SUV / Cross over,Tự động,0,Xăng,5,Mới,Lắp ráp trong nước,2021,579000000,Kona,Hyundai
3,SUV / Cross over,Tự động,0,Xăng,5,Mới,Lắp ráp trong nước,2021,825000000,Tucson,Hyundai
4,Sedan,Tự động,32000,Xăng,4,Đã sử dụng,Nhập khẩu,2017,5750000000,Panamera,Porsche
...,...,...,...,...,...,...,...,...,...,...,...
54991,Van/Minivan,Số sàn,80000,Xăng,8,Đã sử dụng,Lắp ráp trong nước,2019,565000000,Innova,Toyota
54992,Sedan,Tự động,38000,Xăng,5,Đã sử dụng,Lắp ráp trong nước,2018,563000000,3,Mazda
54993,Hatchback,Tự động,70000,Xăng,5,Đã sử dụng,Lắp ráp trong nước,2009,185000000,Morning,Kia
54994,Sedan,Số sàn,2555,Xăng,5,Đã sử dụng,Nhập khẩu,1999,42500000,Matiz,Daewoo
54995,Sedan,Tự động,80000,Xăng,4,Đã sử dụng,Nhập khẩu,2009,280000000,3,Mazda

In [25]:
data.to_csv('mix_data.csv', sep='\t', encoding='utf-8')